In [11]:
import pandas as pd 
import os

In [13]:
file_list = os.listdir("Data")

In [15]:
list_of_dataframes = []
for filename in file_list:
    list_of_dataframes.append(pd.read_table("Data/"+filename))

merged_df = pd.concat(list_of_dataframes)

In [16]:
merged_df.columns

Index(['Analyte ID', 'Analyte Name', 'State Code', 'PWSID', 'System Name',
       'System Type', 'Retail Population Served',
       'Adjusted Total Population Served', 'Source Water Type',
       'Water Facility ID', 'Water Facility Type', 'Sampling Point ID',
       'Sampling Point Type', 'Source Type Code', 'Sample Type Code',
       'Laboratory Assigned ID', 'Six Year ID', 'Sample ID',
       'Sample Collection Date', 'Detection Limit Value',
       'Detection Limit Unit', 'Detection Limit Code', 'Detect', 'Value',
       'Unit', 'Presence Indicator Code', 'Residual Field Free Chlorine mg/L',
       'Residual Field Total Chlorine mg/L'],
      dtype='object')

In [18]:
merged_df.head()

,Analyte ID,Analyte Name,State Code,PWSID,System Name,System Type,Retail Population Served,Adjusted Total Population Served,Source Water Type,Water Facility ID,...,Sample Collection Date,Detection Limit Value,Detection Limit Unit,Detection Limit Code,Detect,Value,Unit,Presence Indicator Code,Residual Field Free Chlorine mg/L,Residual Field Total Chlorine mg/L
0,1005,ARSENIC,AL,AL0000943,GUNTERSVILLE WATER WORKS & SEWER BOARD,C,12750,13980,SW,1553,...,2006-02-02 00:00:00.000,0.0,MG/L,MDL,0,NaN,NaN,NaN,NaN,NaN
1,1005,ARSENIC,AL,AL0000091,BRENT UTILITIES BOARD,C,5850,6885,GW,4221,...,2006-01-27 00:00:00.000,0.0,MG/L,MDL,0,NaN,NaN,NaN,NaN,NaN
2,1005,ARSENIC,AL,AL0000933,ALBERTVILLE UTILITIES BOARD,C,30186,45915,SW,1665,...,2006-02-01 00:00:00.000,0.0,MG/L,MDL,0,NaN,NaN,NaN,NaN,NaN
3,1005,ARSENIC,AL,AL0000398,CULLMAN UTILITIES BOARD,C,32,31112,SW,1346,...,2006-02-20 00:00:00.000,0.0,MG/L,MDL,0,NaN,NaN,NaN,NaN,NaN
4,1005,ARSENIC,AL,AL0001780,FIVE STAR WATER SUPPLY DISTRICT,C,100,6040,SW,4793,...,2006-04-19 00:00:00.000,0.0,MG/L,MDL,0,NaN,NaN,NaN,NaN,NaN

In [22]:
clean_columns = merged_df[['Analyte ID', 'Analyte Name', 'State Code','Retail Population Served','Source Water Type','Sample Collection Date','Detection Limit Value','Detection Limit Unit','Detect', 'Value','Unit','Residual Field Free Chlorine mg/L','Residual Field Total Chlorine mg/L']]

In [42]:
clean_columns.head()

,Analyte ID,Analyte Name,State Code,Retail Population Served,Source Water Type,Sample Collection Date,Detection Limit Value,Detection Limit Unit,Detect,Value,Unit,Residual Field Free Chlorine mg/L,Residual Field Total Chlorine mg/L
0,1005,ARSENIC,AL,12750,SW,2006-02-02 00:00:00.000,0.0,MG/L,0,NaN,NaN,NaN,NaN
1,1005,ARSENIC,AL,5850,GW,2006-01-27 00:00:00.000,0.0,MG/L,0,NaN,NaN,NaN,NaN
2,1005,ARSENIC,AL,30186,SW,2006-02-01 00:00:00.000,0.0,MG/L,0,NaN,NaN,NaN,NaN
3,1005,ARSENIC,AL,32,SW,2006-02-20 00:00:00.000,0.0,MG/L,0,NaN,NaN,NaN,NaN
4,1005,ARSENIC,AL,100,SW,2006-04-19 00:00:00.000,0.0,MG/L,0,NaN,NaN,NaN,NaN